.detail{
    width: 93%;
    margin: auto;
    text-align: center;
    border-top: 2px solid #585858;
}

.detailTitle{
    width: 93%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 20px;
}

.detailFile{
    width: 93%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 16px;
    text-align: left;
}

.detailInf{
    width: 93%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 16px;
    text-align: left;
}

.detailContent{
    width: 93%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px solid #d6d6d6;
    font-size: 16px;
}

.detailFoot{
    width: 93%;
    padding: 10px 0px 70px 0px;
    font-size: 16px;
    text-align: left;
}

.moveBtn1{
    margin-bottom: 13px;
    padding:5px 10px 5px 10px;
    font-size: 16px;
    background-color: #FFFFFF;
    color:#a5a4a4;
    border:1px solid #a5a4a4;
}

.moveBtn2{
    margin-right: 10px;
    margin-bottom: 13px;
    padding:5px 10px 5px 10px;
    font-size: 16px;
    background-color: #FFFFFF;
    color:#a5a4a4;
    border:1px solid #a5a4a4;
}

.listBtn{
    padding:5px 30px 5px 30px;
    font-size: 16px;
    background-color: #FFFFFF;
    color:#9999df;
    border:1px solid #9999df;
}

.editBtn{
    margin-right: 8px;
    margin-bottom: 13px;
    padding:5px 30px 5px 30px;
    font-size: 16px;
    background-color: #FFFFFF;
    color:#a5a4a4;
    border:1px solid #a5a4a4;
}

.deleteBtn{
    margin-right: 60%;
    margin-bottom: 13px;
    padding:5px 30px 5px 30px;
    font-size: 16px;
    background-color: #FFFFFF;
    color:#a5a4a4;
    border:1px solid #a5a4a4;
}