.fnbContainer{
    background-color: #FEFAF6;
}

.popupContainer{
    width: 100%;
}
.popup{
    width: 1300px;
    margin: 0 auto;
    padding: 10px 0;
    display: flex;
    overflow: hidden;
    flex-direction:row;
    justify-content:space-around;
}
#popupImg{
    line-height: 60px;
    overflow: hidden;
}


.footerContainer{
    overflow: hidden;
    background-color: #84a89e;
}
.footer{
    width: 1300px;
    height: 170px;
    margin: 0 auto;
    padding: 30px 0 0 0;
}
.footer p:nth-of-type(1){
    font-size: 20px;
    font-weight: 700;
}
.footer p{
    font-size: 15px;
    color: #FEFAF6;
    margin-top:5px;
}

.logoutBtn{
    background-color: #84a89e;
    color: #dbd1c7;
    margin:0
}
.logoutBtn:hover{
    color: #03A396;
}