.gnbContainer{
    width: 1300px;
    margin: 0 auto;
    position: relative;
    height: 75px;
}
.gnbContainer i{
    display: none;
    float: right;
    margin-right: 30px;
    color: rgb(72, 76, 80);
}
.gnbContainer img{
    width: 250px;
    height: 75px;
}

.gnbMenu{
    margin-right: 100px;
    line-height: 75px;
    float: right;
    display: flex;
    justify-content: space-around;
}

.gnbMenuList{
    margin:0 40px;
    font-weight: 500;
}

.gnbHiddenUi{
    position: absolute;
    display: none;
    z-index: 5;
    border-radius: 5px;
    border: #2B2A29 solid 1px;
    background-color: white;
    padding: 5px 0;
}

.gnbHiddenUi p{
    font-size: 13px;
    text-align: center;
    height: 55px;
    line-height: 55px;
}

.gnbHiddenContainer{
    display: none;
}
.gnbHiddenMenuUi{
    display: none;
}

/*개별 위치 조정*/
#hiddenUi1{
    top: 75px;
    left: 520px;
    width: 130px;
}
#hiddenUi1 img{
    position: absolute;
    width: 30px;
    height: 20px;
    top: -20px;
    left:54px;
}
#hiddenUi2{
    top: 75px;
    left: 675px;
    width: 180px;
}
#hiddenUi2 img{
    position: absolute;
    width: 30px;
    height: 20px;
    top: -20px;
    left:80px;
}
#hiddenUi3{
    top: 75px;
    left: 875px;
    width: 180px;
}
#hiddenUi3 img{
    position: absolute;
    width: 30px;
    height: 20px;
    top: -20px;
    left:75px;
}
#hiddenUi4{
    top: 75px;
    left: 1055px;
    width: 150px;
}
#hiddenUi4 img{
    position: absolute;
    width: 30px;
    height: 20px;
    top: -20px;
    left:62px;
}



/*hover */
.gnbMenuList>a:hover{
    color: #03A396;
}
.gnbMenuList:hover #hiddenUi1{    
    display: block;
}
.gnbMenuList:hover #hiddenUi2{    
    display: block;
}
.gnbMenuList:hover #hiddenUi3{    
    display: block;
}
.gnbMenuList:hover #hiddenUi4{    
    display: block;
}

.gnbHiddenUi p:hover{
    background-color: #03A396;
    margin: 0 5px;
    border-radius: 3px;
    font-weight: 900;
    color: #FEFAF6;
}



/*반응형 웹*/
@media screen and (max-width : 992px) {
    .gnbContainer{
        width: 800px;
        margin: 0 auto;
        position: relative;
        height: 50px;
    }
    .gnbContainer img{
        width: 160px;
        height: 50px;
    }
    
    .gnbMenu{
        display:none
    }
    .gnbContainer i{
        display: inline-block;
        font-size: 25px;
        line-height: 50px;
        
    }
    .gnbHiddenContainer{
        width: 100%;
        margin:0 auto;
        position: absolute;
        top: 42px;
        left: 0;
        background: white;
        z-index: 3;
        border-radius: 10px;
    }
    .gnbHiddenMenuUi{
        display: inline-block;
        margin: 20px 5px;
        padding-left: 30px;
        box-sizing: border-box;
    }
    .gnbHiddenMenuUi h4{
        width: fit-content;
        margin: 10px;
        padding: 10px;
        text-align: center;
        font-size: 13px;
        border-bottom: #84a89e solid 3px;
    }
    .gnbHiddenMenuUi p{
        padding: 10px;
        font-size: 13px;
    }

    /*hover*/
    .gnbHiddenMenuUi:hover >h4{
        border-bottom: rgb(255, 165, 165) solid 3px;
    }
    .gnbHiddenMenuUi p:hover{
        background: rgb(255, 165, 165);
        color: snow;
        border-radius: 10px;
    }
    /*화면 레이아웃 크기*/
    .col2{
        float: left;
        width: 20%
    }
    .col4{
        float: left;
        width: 25%
    }
  }

@media screen and (max-width : 576px) {
    .gnbContainer{
        width: 400px;
        margin: 0 auto;
        position: relative;
        height: 40px;
    }
    .gnbContainer img{
        width: 130px;
        height: 40px;
    }

    .gnbMenu{
        display:none
    }

    .gnbContainer i{
        display: inline-block;
        font-size: 20px;
        line-height: 40px;
        
    }
    .gnbHiddenContainer{
        width: 100%;
        margin:0 auto;
        position: absolute;
        top: 32px;
        left: 0;
        background: white;
        z-index: 3;
        border-radius: 10px;
        
    }
    .gnbHiddenMenuUi{
        display: inline-block;
        margin: 20px 5px;
        padding-left: 20px;
        box-sizing: border-box;
    }
    .gnbHiddenMenuUi h4{
        width: fit-content;
        margin: 10px;
        padding: 10px;
        text-align: center;
        font-size: 12px;
        border-bottom: #84a89e solid 3px;
    }
    .gnbHiddenMenuUi p{
        padding: 10px;
        font-size: 11px;
    }

    /*hover*/
    .gnbHiddenMenuUi:hover >h4{
        border-bottom: rgb(255, 165, 165) solid 3px;
    }
    .gnbHiddenMenuUi p:hover{
        background: rgb(255, 165, 165);
        color: snow;
        border-radius: 10px;
    }

    /*화면 레이아웃 크기*/
    .col2{
        float: left;
        width: 40%
    }
    .col4::after{
        content: "";
        display: block;
        clear: both;
    }
    .col4{
        float: left;
        width: 55%
    }
  }



