.contentHeader{
    margin: 25px auto;
    width: 1200px;
    padding-left: 15px;
    border-bottom: #2B2A29 solid 1px;
}
.contentHeader h1{
    font-size:25px;
    float:left;
    width:30%;
}
.middle{
    float:left;
    width:30%;
}
.contentHeader button{
    width: 122px; 
    background-color: #6dce82;
    border: 0px; 
    border-radius: 3px; 
    color: #FEFAF6; 
    font-size: 15px;
    height: 35px;
    margin-top: 20px;
    float:right;
}
.contentHeader button:hover{
    background-color:#12882c; 
}
.clear{
    clear: both;
}
.contentMain{
    margin: 25px auto;
    width: 1200px;
    padding-left: 15px;
    text-align: left;
}
.selectCategory{
    font-size: 15px;
    width: 600px;
    float:left;
}
.addFile{
    width: 322px; 
    background-color: #FFFFFF;
    border: 0px; 
    border-radius: 3px; 
    font-size: 15px;
    height: 35px;
    float:right;
    border:1px solid silver;
    color: grey;
}
.addFile:hover{
    width: 322px; 
    background-color: #f1f1f1;
    border: 0px; 
    border-radius: 3px; 
    font-size: 15px;
    height: 35px;
    float:right;
    border:1px solid silver;
    color: grey;
}
.titleInput{
    margin: 25px auto;
    width: 1190px;
    height: 35px;
    padding-left: 12px;
    border:1px solid silver;
    border-radius: 3px; 
    font-size: 15px;
}