.detailHighContainer{
    font-family: 'S-CoreDream-9Black';
    overflow: hidden;
    width: 100%;
    height: 200px;
}
.detailHighContainer img{
    z-index: 1;
    position:relative;
    width:100%;
    top: -300px;
}
.detailHighText{
    width: 1300px;
    margin: 0 auto;
}
.detailHighText h1{
    z-index: 2;
    position:absolute;
    top: 170px;
    margin-left: 70px;
    color: #FEFAF6;
    font-size: 25px;
}
/*목차 이동*/
.detailMenuContainer{
    height: 60px;
    background-color:#2B2A29;
    border-bottom: #FEFAF6 solid 1px;
    box-shadow: 0 1px 5px 0 #2B2A29;
}
.detailMenuBox{
    width: 1300px;
    margin: 0 auto;
}
.detailMenu{
    display: flex;
}
.detailMenuPtag{
    color: #FEFAF6;
    width: 150px;
    line-height: 60px;
    border-left:#FEFAF6 solid 1px;
    padding-left: 25px;
    flex-grow: 1;
}

.detailMenuItem{
    padding-left: 25px;
    width: 150px;
    line-height: 60px;
    border-left:#FEFAF6 solid 1px;
    border-right:#FEFAF6 solid 1px;
    position: relative;
    flex-grow: 1;
}
.detailMenuItem p{
    color: #FEFAF6;
}
.detailMenuItem img{
    position: absolute;
    width: 15px;
    top: 25px;
    right: 15px;
}
.detailMenuUi{
    padding: 5px 0;
    position: absolute;
    display: none;
    top: 60px;
    left: -2px;
    background-color: white;
    width: 255px;
    z-index: 3;
    border: #2B2A29 solid 1px;
}
.detailMenuUi p{
    font-weight: 500;
    font-size: 16px;
    padding: 0 10px 0 12px;
    margin: 2px 10px 2px 10px;
    color: #2B2A29;
}
.detailMenuSpace{
    flex-grow: 10;
}


/*콘텐츠*/
.contentContainer{
    min-height: 600px;
    width: 1300px;
    margin: 0 auto;
}

.content{
    width: 100%;
    margin: 80px auto;
    text-align: center;
}

.content img{
    width:1000px;
}



/*hover */
.detailMenuItem:hover{    
    background-color: #DEB578;
    color: #FEFAF6;
    font-weight: 900;
}
.detailMenuItem:hover .detailMenuUi{    
    display: block;
}
.detailMenuLi:hover{
    background-color: #2B2A29;
    border-radius: 3px;
    font-weight: 900;
    color: #FEFAF6;
}
.detailMenuUi p:hover{
    background-color: #2B2A29;
    border-radius: 3px;
    font-weight: 900;
    color: #FEFAF6;
}





/*반응형 웹*/
@media screen and (max-width : 992px) {
    .detailHighContainer{
        font-family: 'S-CoreDream-9Black';
        overflow: hidden;
        height: 150px;
    }
    .detailHighContainer img{
        z-index: 1;
        position:relative;
        width: 100%;
        top:0px;
    }
    .detailHighText{
        width: 800px;
        margin: 0 auto;
    }
    .detailHighText h1{
        z-index: 2;
        position:absolute;
        top: 107px;
        margin-left: 70px;
        color: #FEFAF6;
        font-size: 20px;
    }
    /*목차 이동*/
    .detailMenuContainer{
        height: 50px;
        background-color:#2B2A29;
        border-bottom: #FEFAF6 solid 1px;
        box-shadow: 0 1px 5px 0 #2B2A29;
    }
    .detailMenuBox{
        width: 800px;
        margin: 0 auto;
    }
    .detailMenu{
        display: flex;
    }
    .detailMenuPtag{
        color: #FEFAF6;
        width: 100px;
        line-height: 50px;
        border-left:#FEFAF6 solid 1px;
        padding-left: 25px;
        margin-left: 50px;
        font-size: 14px;
        flex-grow: 1;
    }
    
    .detailMenuItem{
        padding-left: 25px;
        width: 150px;
        line-height: 50px;
        border-left:#FEFAF6 solid 1px;
        border-right:#FEFAF6 solid 1px;
        position: relative;
        font-size: 14px;
        flex-grow: 1;
    }
    .detailMenuItem p{
        color: #FEFAF6;
    }
    .detailMenuItem img{
        position: absolute;
        width: 13px;
        top: 19px;
        right: 15px;
    }
    .detailMenuUi{
        padding: 5px 0;
        position: absolute;
        display: none;
        top: 50px;
        left: -2px;
        background-color: white;
        width: 213px;
        z-index: 2;
        border: #2B2A29 solid 1px;
    }
    .detailMenuUi p{
        font-weight: 500;
        font-size: 12px;
        padding: 0 10px 0 12px;
        margin: 2px 10px 2px 10px;
        color: #2B2A29;
    }
    .detailMenuSpace{
        flex-grow: 10;
    }
    
    
    /*콘텐츠*/
    .contentContainer{
        min-height: 200px;
        width: 800px;
        margin: 20px auto;
    }
    
    .content{
        width: 100%;
        margin: 80px auto;
        text-align: center;
    }
    .content img{
        width: 100%;
    }
    
  }

@media screen and (max-width : 576px) {
    .detailHighContainer{
        font-family: 'S-CoreDream-9Black';
        overflow: hidden;
        height: 120px;
    }
    .detailHighContainer img{
        z-index: 1;
        position:relative;
        width: 100%;
        top:-30px;
    }
    .detailHighText{
        width: 400px;
        margin: 0 auto;
    }
    .detailHighText h1{
        z-index: 2;
        position:absolute;
        top: 85px;
        margin-left: 20px;
        color: #FEFAF6;
        font-size: 18px;
    }
    /*목차 이동*/
    .detailMenuContainer{
        height: 40px;
        background-color:#2B2A29;
        border-bottom: #FEFAF6 solid 1px;
        box-shadow: 0 1px 5px 0 #2B2A29;
    }
    .detailMenuBox{
        width: 400px;
        margin: 0 auto;
    }
    .detailMenu{
        display: flex;
    }
    .detailMenuPtag{
        display: none;
    }
    
    .detailMenuItem{
        padding-left: 20px;
        width: 140px;
        line-height: 40px;
        margin-left: 10px;
        border-left:#FEFAF6 solid 1px;
        border-right:#FEFAF6 solid 1px;
        position: relative;
        font-size: 12px;
        flex-grow: 1;
    }
    .detailMenuItem p{
        color: #FEFAF6;
    }
    .detailMenuItem img{
        position: absolute;
        width: 13px;
        top: 13px;
        right: 15px;
    }
    .detailMenuUi{
        padding: 5px 0;
        position: absolute;
        display: none;
        top: 39px;
        left: -2px;
        background-color: white;
        width: 183px;
        z-index: 2;
        border: #2B2A29 solid 1px;
    }
    .detailMenuUi p{
        font-weight: 500;
        font-size: 11px;
        padding: 0 10px 0 12px;
        margin: 2px 10px 2px 10px;
        color: #2B2A29;
    }
    .detailMenuSpace{
        flex-grow: 10;
    }
    
    
    /*콘텐츠*/
    .contentContainer{
        min-height: 200px;
        width: 400px;
        margin: 0 auto;
    }
    
    .content{
        width: 100%;
        margin: 80px auto;
        text-align: center;
    }
    .content img{
        width: 100%;
        margin-bottom: 10px;
    }
    
  }



